<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <a ng-click="logOff()" class="brand">
                <span class="brand brand-title">Parent-Student Portal</span>
            </a>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">
                <div>
                    <ul class="nav pull-right">
                        <li class="navbar-link">
                            <a ng-click="logOff()"><span class="bold">| Log Out |</span></a>
                        </li>
                        <!--<li class="navbar-link">
                            <a><span class="bold">| Help |</span></a>
                        </li>
                         <li class="navbar-link">
                            <a><span class="bold">| About |</span></a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>