<section id="checklist-view" class="mainbar" data-ng-controller="checklist as vm">
    &nbsp;<br />
    
    <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
        <div data-cc-spinner="vm.spinnerOptions"></div>
        <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
    </div>

    <div class="row-fluid">
        <br />
        <div class="page-title text-center">
            <h1><strong>{{vm.student.FirstName}} {{vm.student.LastName}}</strong></h1>
        </div>
    </div>
    &nbsp;<br />
    <ul class="nav nav-tabs nav-pills nav-stacked btn-navbar">
        <li data-ng-repeat="grade in vm.grades" data-ng-class="{'active':vm.student.GradeLevel == grade.GradeLevel}">
            <a data-toggle="tab" ng-click="vm.setGradeLevel(grade)">
                {{grade.GradeName}}
            </a>
        </li>
    </ul>

    <section id="details">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="typeahead well well-large widget widget-details">
                    <div class="row-fluid" style="border:1px solid #d2d2d2;">
                        <table width="100%">
                            <tr style="vertical-align: top;">
                                <td colspan="2">
                                    <table style="vert-align: top;">
                                        <tr>
                                            <td class="bold span2" style="width:1%; white-space: nowrap; font-weight: bold;">&nbsp;&nbsp;Student Name:</td>
                                            <td>{{vm.student.FirstName}} {{vm.student.LastName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold span2" style="width:1%; white-space: nowrap; font-weight: bold;">&nbsp;&nbsp;School Name:</td>
                                            <td>{{vm.student.SchoolName}}</td>
                                        </tr>
                                    </table>                                    
                                </td>
                                <td class="bold span2" style="width:1%; white-space: nowrap; font-weight: bold;">Counselor Name:</td>
                                <td>{{vm.student.CounselorFirstName}} {{vm.student.CounselorLastName}}</td>
                                <td style="float:right;" rowspan="2">
                                    <a href="http://www.paulding.k12.ga.us/" target="_blank" class="pull-right input-large">
                                        <img data-ng-src="content/images/clients/GAPauldingLogo.jpg" /><br>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div id="divBackground" style="position: fixed; z-index: 999; height: 100%; width: 100%; top: 0; left:0; background-color: Black; filter: alpha(opacity=60); opacity: 0.6; -moz-opacity: 0.8;display:none"></div> 
                            <div id="expandCollapse" ng-show="vm.checklistsGrouped.length > 0">
                                &nbsp;&nbsp;<a ng-click="vm.openClose(true)">Expand All</a> /
                                <a ng-click="vm.openClose(false)">Collapse All</a>
                                <a ng-click="vm.printElement('details')" class="icon-print icon-large pull-right">&nbsp;&nbsp;Print&nbsp;&nbsp;</a>
                            </div>
                      
                    <div class="divider">&nbsp;</div>
                    <div class="row-fluid">
                        <div class="bold row-fluid" style="background: #932ab6; color:#ffffff; padding:1px; border:1px solid #932ab6; font-size:200%;">{{GradeNameDesc}} Advisement Checklist for Parents</div>
                        <div ng-repeat="group in vm.checklistsGrouped | orderBy:'checklistId'" class="row-fluid" style="padding:1px; border:1px solid #d2d2d2;">                          
                            <div class="row-fluid" ng-click="group.open = !group.open" style="background: #d2d2d2; border:1px solid #d2d2d2;" ng-show="group.MonthName != ''">
                                <div ng-class="{'icon-chevron-up':group.open, 'icon-chevron-down':!group.open}"></div>&nbsp;&nbsp;<span class="bold">{{group.MonthName}}</span>
                            </div>
                            <div class="row-fluid" ng-show="group.open" ng-repeat="list in group | orderBy:'checklistId'">
                                <div class="row-fluid">
                                    <table class="table" id="listingDetail">
                                        <tr>
                                            <td class="span2"  ng-show="group.MonthName!=''" nowrap="nowrap" valign="top">
                                                <input type="checkbox" ng-checked="list.checkboxStatus" data-ng-click="vm.updateChecklist(list)" /> ({{list.SequenceGrade}}.{{list.SequenceMonth}}.{{list.SequenceNumber}})
                                            </td>
                                            <td>
                                                <span ng-bind-html="list.HTMLText | userHtml"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>