<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <!--<parameter value="Data Source=10.178.0.6;Initial Catalog=ThinkgateParentStudent;User ID=parentstudent;Password=parent$tudent" />-->
        <parameter value="Data Source=172.16.8.55;Initial Catalog=ThinkgateParentStudent;User ID=vit_tm;Password=vit12345" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Thinkgate.Portal.ParentStudent.API.Models.ThinkgateParentStudent, Thinkgate.Portal.ParentStudent.API" />
    </contexts>
  </entityFramework>
  <connectionStrings>
    <!--Production-->
    <!--<add name="ThinkgateParentStudentEntities" connectionString="metadata=res://*/Models.IdentityUserModel.csdl|res://*/Models.IdentityUserModel.ssdl|res://*/Models.IdentityUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=ThinkgateParentStudent;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentModelView.csdl|res://*/Models.ParentStudentModelView.ssdl|res://*/Models.ParentStudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.ClientSuppliedIdentification.csdl|res://*/Models.ClientSuppliedIdentification.ssdl|res://*/Models.ClientSuppliedIdentification.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PcsdImportEntities" connectionString="metadata=res://*/Models.ParentStudentImportModelView.csdl|res://*/Models.ParentStudentImportModelView.ssdl|res://*/Models.ParentStudentImportModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientSuppliedIdentificationtEntities" connectionString="metadata=res://*/Models.ClientSuppliedIdentificationModelView.csdl|res://*/Models.ClientSuppliedIdentificationModelView.ssdl|res://*/Models.ClientSuppliedIdentificationModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentEntities" connectionString="metadata=res://*/Models.StudentModelView.csdl|res://*/Models.StudentModelView.ssdl|res://*/Models.StudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentImportModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stg_PCSD_importModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITBaseTMGAPaulding;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentHashModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentHashModelView.csdl|res://*/Models.ParentStudentHashModelView.ssdl|res://*/Models.ParentStudentHashModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.55;initial catalog=VersaITCacheTMGAPaulding;user id=vit_tm;password=vit12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    <!--QA-->
    <!--<add name="ThinkgateParentStudentEntities" connectionString="metadata=res://*/Models.IdentityUserModel.csdl|res://*/Models.IdentityUserModel.ssdl|res://*/Models.IdentityUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentModelView.csdl|res://*/Models.ParentStudentModelView.ssdl|res://*/Models.ParentStudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.ClientSuppliedIdentification.csdl|res://*/Models.ClientSuppliedIdentification.ssdl|res://*/Models.ClientSuppliedIdentification.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PcsdImportEntities" connectionString="metadata=res://*/Models.ParentStudentImportModelView.csdl|res://*/Models.ParentStudentImportModelView.ssdl|res://*/Models.ParentStudentImportModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientSuppliedIdentificationtEntities" connectionString="metadata=res://*/Models.ClientSuppliedIdentificationModelView.csdl|res://*/Models.ClientSuppliedIdentificationModelView.ssdl|res://*/Models.ClientSuppliedIdentificationModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentEntities" connectionString="metadata=res://*/Models.StudentModelView.csdl|res://*/Models.StudentModelView.ssdl|res://*/Models.StudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentImportModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stg_PCSD_importModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentHashModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentHashModelView.csdl|res://*/Models.ParentStudentHashModelView.ssdl|res://*/Models.ParentStudentHashModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=VersaITCacheE3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Development-->
    <add name="ThinkgateParentStudentEntities" connectionString="metadata=res://*/Models.IdentityUserModel.csdl|res://*/Models.IdentityUserModel.ssdl|res://*/Models.IdentityUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentModelView.csdl|res://*/Models.ParentStudentModelView.ssdl|res://*/Models.ParentStudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.ClientSuppliedIdentification.csdl|res://*/Models.ClientSuppliedIdentification.ssdl|res://*/Models.ClientSuppliedIdentification.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PcsdImportEntities" connectionString="metadata=res://*/Models.ParentStudentImportModelView.csdl|res://*/Models.ParentStudentImportModelView.ssdl|res://*/Models.ParentStudentImportModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientSuppliedIdentificationtEntities" connectionString="metadata=res://*/Models.ClientSuppliedIdentificationModelView.csdl|res://*/Models.ClientSuppliedIdentificationModelView.ssdl|res://*/Models.ClientSuppliedIdentificationModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentEntities" connectionString="metadata=res://*/Models.StudentModelView.csdl|res://*/Models.StudentModelView.ssdl|res://*/Models.StudentModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentImportModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="stg_PCSD_importModelViewEntities" connectionString="metadata=res://*/Models.stg_PCSD_importModelView.csdl|res://*/Models.stg_PCSD_importModelView.ssdl|res://*/Models.stg_PCSD_importModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITBaseTME3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParentStudentHashModelViewEntities" connectionString="metadata=res://*/Models.ParentStudentHashModelView.csdl|res://*/Models.ParentStudentHashModelView.ssdl|res://*/Models.ParentStudentHashModelView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=VersaITCacheE3V3QA;user id=vit_tm;password=vit12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>