<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="shell as vm">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Site name for smallar screens -->
            <h4><span class="navbar-text pull-left">{{vm.titles.brand}}</span></h4>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">
                <div>
                    <ul class="nav pull-right">
                        <li class="navbar-link">
                            <a href="" data-ng-show="userName!=null" data-ng-click="logOff()">
                                <span class="bold">{{vm.titles.logoffLink}}</span>
                            </a>
                        </li>
                        <!--<li class="navbar-link">
                            <a href="" data-ng-click="logOff()">
                                <span class="bold">{{vm.titles.helpLink}}</span>
                            </a>
                        </li>
                        <li class="navbar-link">
                            <a href="" data-ng-click="logOff()">
                                <span class="bold">{{vm.titles.aboutLink}}</span>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>