<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="appConfig" type="System.Configuration.NameValueSectionHandler" />
    
  </configSections>

  <appConfig>
    <add name="a" value="a" />
    <add name="b" value="b" />
    <add name="c" value="c" /> 
  </appConfig>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.178.0.6;Initial Catalog=ThinkgateParentStudent;User ID=parentstudent;Password=parent$tudent" providerName="System.Data.SqlClient" />
    <add name="ThinkgateParentStudentEntities" connectionString="metadata=res://*/User.csdl|res://*/User.ssdl|res://*/User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientSuppliedIdEntities" connectionString="metadata=res://*/ClientSuppliedIdModel.csdl|res://*/ClientSuppliedIdModel.ssdl|res://*/ClientSuppliedIdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ThinkgateConfigEntities" connectionString="metadata=res://*/ThinkgateConfig.csdl|res://*/ThinkgateConfig.ssdl|res://*/ThinkgateConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.178.0.6;initial catalog=ThinkgateConfig;persist security info=True;user id=vit_tm;password=vit12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="DefaultConnection" connectionString="Data Source=172.16.8.52;Initial Catalog=ThinkgateParentStudent;User ID=parentstudent;Password=parent$tudent" providerName="System.Data.SqlClient" />
    <add name="ThinkgateParentStudentEntities" connectionString="metadata=res://*/User.csdl|res://*/User.ssdl|res://*/User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClientSuppliedIdEntities" connectionString="metadata=res://*/ClientSuppliedIdModel.csdl|res://*/ClientSuppliedIdModel.ssdl|res://*/ClientSuppliedIdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.8.52;initial catalog=ThinkgateParentStudent;user id=parentstudent;password=parent$tudent;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <appSettings>
    <add key="PasswordLength" value="8" />
    <add key="PasswordRequireNonLetterOrDigit" value="true" />
    <add key="PasswordRequireDigit" value="true" />
    <add key="PasswordRequireLowercase" value="true" />
    <add key="PasswordRequireUppercase" value="true" />
    <add key="TempPasswordPage" value="Index.html" />
    <add key="ServiceCertificateThumbprint" value="8f79e57aa076b9ca5e9d3c94c55f2ab54d6a831f" />
    <add key="ServiceCertificateStoreName" value="MY" />
    <add key="SmtpServerDatabase" value="VersaITBaseTME3V3OHQA" />
    <add key="ClientConfigState" value="QA" />
    <add key="KenticoURL" value="http://10.178.192.103/KenticoCMS7" />
    <add key="KenticoFilePath" value="/ThinkgateCMS/files/"/>
	  
	<!-- Client Specific Entries BEGIN-->
		<!-- format is ClientName underscore, i.e. Thinkgate.Portal.ParentStudent.Web_ -->
		<!-- DEFAULT VALUES BEGIN-->	  
			<add key="default_thinkgateLogoLocation" value="content/images/thinkgate.png" />
			<add key="default_thinkgateLogoLinkToURL" value="http://thinkgate.com" />
			<add key="default_clientLogoImageLocation" value="content/images/FFFFFF-1.png" />
			<add key="default_clientLogoLinkToURL" value="http://thinkgate.com" />
			<add key="default_clientBackground" value="content/images/homepage-image-white.jpg" />
		<!-- DEFAULT VALUES END-->

		<add key="Thinkgate.Portal.ParentStudent.Web_thinkgateLogoLocation" value="content/images/thinkgate.png" />
		<add key="Thinkgate.Portal.ParentStudent.Web_thinkgateLogoLinkToURL" value="http://thinkgate.com" />
		<add key="Thinkgate.Portal.ParentStudent.Web_clientLogoImageLocation" value="content/images/OHDemoLogo.png" />
		<add key="Thinkgate.Portal.ParentStudent.Web_clientLogoLinkToURL" value="http://education.ohio.gov" />
	<!-- Client Specific Entries END-->
	  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="DefaultConnection" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
 
  <system.serviceModel>

    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="federatedBinding" maxReceivedMessageSize="2147483647">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0" />
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- Developers will need to change this address if they plan to run services from their local machine -->
    <client>
      <!-- Dev-->
      <endpoint address="https://F3D38R1.pyramidconsultinginc.com/Thinkgate.Service.Portal.ParentStudent.PortalCommonService/PortalCommonService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalCommonService" behaviorConfiguration="ClientCertificateBehavior" name="PortalCommonService" />
      <endpoint address="https://F3D38R1.pyramidconsultinginc.com/Thinkgate.Service.Portal.ParentStudent.Assessment/AssessmentService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalAssessmentService" behaviorConfiguration="ClientCertificateBehavior" name="PortalAssessmentService" />
      <endpoint address="https://F3D38R1.pyramidconsultinginc.com/Thinkgate.Service.Portal.ParentStudent.Alert/AlertService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalAlertService" behaviorConfiguration="ClientCertificateBehavior" name="PortalAlertService" />
      <endpoint address="https://F3D38R1.pyramidconsultinginc.com/Thinkgate.Service.Portal.ParentStudent.StudentService/StudentService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalStudentService" behaviorConfiguration="ClientCertificateBehavior" name="PortalStudentService" />
      
      <!--QA-->
      <!--<endpoint address="https://ORD-VM-QA2.TGPROD.local/Thinkgate.Service.Portal.ParentStudent.CommonService/PortalCommonService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalCommonService" behaviorConfiguration="ClientCertificateBehavior" name="PortalCommonService" />
      <endpoint address="https://ORD-VM-QA2.TGPROD.local/Thinkgate.Service.Portal.ParentStudent.Assessment/AssessmentService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalAssessmentService" behaviorConfiguration="ClientCertificateBehavior" name="PortalAssessmentService" />
      <endpoint address="https://ORD-VM-QA2.TGPROD.local/Thinkgate.Service.Portal.ParentStudent.Alert/AlertService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalAlertService" behaviorConfiguration="ClientCertificateBehavior" name="PortalAlertService" />
      <endpoint address="https://ORD-VM-QA2.TGPROD.local/Thinkgate.Service.Portal.ParentStudent.StudentService/StudentService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="federatedBinding" contract="Thinkgate.Services.Contracts.ParentStudent.IPortalStudentService" behaviorConfiguration="ClientCertificateBehavior" name="PortalStudentService" />-->

    </client>

  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=10.178.0.6;Initial Catalog=ThinkgateParentStudent;User ID=parentstudent;Password=parent$tudent" />
        <!--<parameter value="Data Source=172.16.8.52;Initial Catalog=ThinkgateParentStudent;User ID=parentstudent;Password=parent$tudent" />-->
      </parameters>
    </defaultConnectionFactory>
      <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Thinkgate.Portal.ParentStudent.API.Models.ThinkgateParentStudent, Thinkgate.Portal.ParentStudent.API" />
    </contexts>
  </entityFramework>
</configuration>
